<template>
    <div class="home">
        <h1>{{ $store.state.count }}</h1>
        <button class="btn" @click="$store.commit('INCREMENT')">
            Increment
        </button>
    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
    name: "home",
    computed: {
    },
};