<template>
    <nav class="navBar">
        <ul class="navBar_link">
            <li>
                <router-link
                    :to="{ name: 'home' }"
                    custom
                    v-slot="{ navigate }"
                >
                    <span
                        @click="navigate"
                        @keypress.enter="navigate"
                        role="link"
                    >
                        Home
                    </span>
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: "navbar"
};
</script>
